%li.right-content__book__section__book-list__item
  = image_tag favorite.image.url, class: 'right-content__book__section__book-list__item__image' if favorite.image.present?
  %h3.right-content__book__section__book-list__item__title
    = favorite.name
  %p.right-content__book__section__book-list__text
    = favorite.rank