.wrapper {
  height: 100vh;
  .content {
    height: calc(100% - 20px);
    // background-color: gray;
    display: flex;
    .left-content {
      // color: white;
      // background-color: #333333;
      width: 400px;
      &__user {
        display: flex;
        background-color: gray;
        height: 120px;
        &__lists{
          &__list {
            // font-size: 1.3rem;
            &__twitter-btn {
              color: blue;
            }
            &__mail-btn {
              color: red;
            }
            &__edit-btn {
              color: black;
            }
          }
        }
        &__image {
          // border-radius: 50%;
          height: 100%;
        }
        &__comment {
          overflow: hidden;
        }
      }
      &__time {
        height: calc(100% - 120px);
        overflow: auto;
        // color: white;
        font-size: 10px;
        &__chart {
          &__routines {

          }
          &__form {
            font-size: 15px;
            height: 30px;
            display: flex;
            // padding: 10px 10px;
            // display: flex;
            &__text {
              width: 100%;
              margin: 0 5px;
            }
            #routine_turn {
              height: 30px;
            }
            &__submit {
              background-color: #38aef0;
              border: 1px solid #38aef0;
              color: #ffffff;
              width: 50px;
              height: 30px;
              padding: 0 10px;
              margin: 0 5px;
              cursor: pointer;
            }
          }
        }
        &__calendar {
          // height: calc(100% - 300px);
          &__post--list {
            // height: 50px;
            // overflow: auto;
            &__content {
              // color: skyblue;
            }
          }
        }
      }
    }
    .right-content {
      // background-color: #1a1d21;
      // height: 100%;
      width: calc(100% - 400px);
      &__book {
        // background-color: #3f3f3f;
        height: 230px;
        .right-content__book__section {
          // height: 30px;
          // width: 100%;
          &__menu {
            // color: white;
            &__new--btn {
              color: black;
              font-size: 1.3rem;
            }
          }
          &__book-list {
            // padding-left: 20px;
            display: flex;
            overflow-x: auto;
            // white-space: nowrap;
            // -webkit-overflow-scrolling: touch;
            &__item {
              width: 102px;
              border: 1px solid black;
              position: relative;
              display: inline-block;
              &__image {
                height: 150px;
                width: 100px;
                object-fit: cover;
              }
              &__rank {
                font-size: 10px;
                font-weight: bold;
                color: red;
                position: absolute;
                top: 5px;
                left: 5px;
              }
              &__title {
                overflow: hidden;
                height: 30px;
                font-size: 10px;
              }
            }
            &__text {
              font-size: 10px;
              // color: white;
              // padding: 5px 5px;
            }
          }
        }
      }
      &__form {
        height: calc(100% - 230px);
        overflow: auto;
        &__todo {
          height: calc(100% - 200px);
          background-color: gray;
          &__title {
            height: 20px;
          }
          &__form {
            height: 30px;
            display: flex;
            &__text {
              width: 100%;
              margin: 0 5px;
            }
            &__submit {
              background-color: #38aef0;
              border: 1px solid #38aef0;
              color: #ffffff;
              width: 50px;
              height: 30px;
              padding: 0 10px;
              margin: 0 5px;
              cursor: pointer;
            }
          }
          &__todos {
            height: calc(100% - 50px);
            overflow: auto;
            &__box {
              margin-top: 10px;
              margin-left: 10px;
              &__list {
                display: flex;
                &__title {
                  width: 100%;
                }
                &__btn--remove {
                  text-decoration: none;
                  background-color: red;
                  border: 1px solid red;
                  color: #ffffff;
                  width: 50px;
                  height: 30px;
                  padding: 0 10px;
                  margin: 0 5px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        &__post {
          height: 200px;
          &__title
          {
            height: 20px;
          }
          // bacground-color: #595959;
          &__posts {
            height: calc(100% - 55px);
            overflow: auto;
            &__list {
              margin: 10px;
              &__date {
                font-size: 10px;
                text-align: right;
                color: gray;
              }
            }
          }
          &__form {
            height: 35px;
            // color: white;
            // background-color: #1a1d21;
            // height: 80px;
            // padding: 10px 10px;
            display: flex;
            &__box {
                width: 100%;
                #post_start_time_1i {
                  height: 30px;
                  width: 69px;
                }
                #post_start_time_2i {
                  height: 30px;
                  width: 114px;
                }
                #post_start_time_3i {
                  height: 30px;
                  width: 48px;
                }
              // 
              // width: 100%;
              position: relative;
              &__text {
                // height: 50px;
                width: calc(100% - 250px);
                
                // padding: 0 40px 0 10px;
                // color: #434a54;
                // border-style: none;
              }
              &__image-input {
                font-size: 1.3rem;
                position: absolute;
                top: 0px;
                right: 10px;
                cursor: pointer;
                &--hidden {
                  visibility: hidden;  // 「ファイルを選択」の見た目を消す
                  display: none;       // 「ファイルを選択」の言葉自体（幅）を消す
                }
              }
            }
            &__submit {
              background-color: #38aef0;
              border: 1px solid #38aef0;
              color: #ffffff;
              width: 50px;
              height: 30px;
              padding: 0 10px;
              margin: 0 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer {
    height: 20px;
    &__small {
      text-align: center;
      font-size: 10px;
    }
  }
}