* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

html {
  // height: 100%;
  // width: 100%;
}

body {
  // height: 100%;
  // width: 100%;
}

.wrapper {
  height: 100vh;
}

.content {
  background-color: gray;
  height: calc(100% - 20px);
}

.left-content {
  color: white;
  background-color: #333333;
  height: 100%;
  width: 400px;
  float: left;
  &__user {
    background-color: #595959;
    height: 200px;
    display: flex;
    align-items: center;
    &__lists{
      &__list {
        &__twitter-btn {
          color: white;
          font-size: 1.3rem;
        }
        &__mail-btn {
          color: white;
          font-size: 1.3rem;
        }
        &__edit-btn {
          color: white;
          font-size: 1.3rem;
        }

      }
    }
    &__image {
      height: 200px;
    }
  }
  &__time {
    height: calc(100% - 200px);
    overflow: auto;
    color: black;
    font-size: 10px;
    &__chart {
      height: 320px;
      &__routines {

      }
      &__form {

      }
    }
    &__calendar {
      height: calc(100% - 320px);
      &__post--list {
        height: 50px;
        overflow: auto;
        &__content {
          color: skyblue;
        }
      }
    }
  }
}

#left-content__time__chart--routines {
  height: 200px;
  width: 200px;
}

.right-content {
  background-color: #1a1d21;
  height: 100%;
  width: calc(100% - 400px);
  float: left;
  &__book {
    background-color: #3f3f3f;
    height: 175px;
  }
  &__todo {
    background-color: #1a1d21;
    height: calc(100% - 325px);
  }
  &__post {
    background-color: #595959;
    height: 150px;
  }
}

.right-content__book__section {
  
  height: 20px;
  width: 100%;
  padding: 20px 0;
  
  &__menu {
    text-decoration: none;
    &__new--btn {
      color: white;
      font-size: 1.3rem;
    }
  }
  &__book-list {
    padding-left: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &__item {
      width: 102px;
      border: 1px solid white;
      position: relative;
      /* 横スクロール用 */
      display: inline-block;
      &__image {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }
      &__title {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 10px;
      }
    }
    &__text {
      font-size: 10px;
      color: white;
      padding: 5px 5px;
    }
  }
}

.right-content__todo {
  &__form {
    height: 40px;
    padding: 10px 10px;
    display: flex;
    &__text {

    }
    &__submit {
      cursor: pointer;
    }
  }
  &__todos {
    height: calc(100% - 40px);
    overflow: auto;
    &__box {
      &__list {
        color: white;
        &__btn--remove {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}

.right-content__post {
  &__posts {
    height: calc(100% - 80px);
    overflow: auto;
    &__list {
      color: white;
    }
  }
  &__form {
    color: white;
    background-color: #1a1d21;
    height: 80px;
    padding: 10px 10px;
    display: flex;
    &__box {
      position: relative;
      width: 100%;
      &__date {
      }
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__image-input {
        font-size: 1.3rem;
        position: absolute;
        top: 0px;
        right: 10px;
        cursor: pointer;
        &--hidden {
          visibility: hidden;  // 「ファイルを選択」の見た目を消す
          display: none;       // 「ファイルを選択」の言葉自体（幅）を消す
        }
      }
    }
    &__submit {

    }
  }
}

.footer {
  background-color: white;
  height: 20px;
  &__small {
    font-size: 10px;
  }
}